{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Profile{% endblock %}

{% block body %}
    <div class="card mb-4">
        {{ form_start(addForm, {attr: {'novalidate': 'novalidate'}}) }}
            <div class="card-header">Add</div>
            <div class="card-body">
                <div class="form-row row-cols-md-2">
                
                    <div class="col">
                        {{ form_label(addForm.source, 'Image') }}
                        {{ form_widget(addForm.source) }}
                        {{ form_help(addForm.source) }}
                    </div>
                    <div class="col">
                        {{ form_label(addForm.category, 'Category') }}
                        {{ form_widget(addForm.category) }}
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-success"><i class="fas fa-save pr-2"></i>Save</button>
            </div>
        {{ form_end(addForm) }}
    </div>
{% endblock %}
