{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Profile{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">Informations</div>
        <div class="card-body">
            Email : {{ app.user.email }}
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">My gifs</div>
        <div class="card-body p-0">
            <table class="table table-striped m-0">
              <thead>
                <tr>
                  <td class="align-middle text-center">Gif</td>
                  <td class="align-middle text-center">Category</td>
                  <td class="align-middle text-center">Subcategory</td>
                  <td class="align-middle text-center">Action</td>
                </tr>
              </thead>
              <tbody>
                {% for gif in app.user.gifs %}
                    <tr>
                        <td>
                            <a href="{{ path('gif.index', {'gifSlug': gif.slug}) }}">
                                <div class="w-100 d-flex justify-content-center">
                                    <img src="{{ asset('img/'~gif.source) }}" alt="" class="img-fluid rounded" />
                                </div>
                            </a>
                        </td>
                        <td class="align-middle text-center">
                            {{ gif.category.parent.name | title }}
                        </td>
                        <td class="align-middle text-center">
                            {{ gif.category.name | title }}
                        </td>
                        <td class="align-middle text-center">
                           <a href="#" class="btn btn-warning"><i class="fas fa-pen pr-2"></i>Edit</a>
                           <a href="#" class="btn btn-danger"><i class="fas fa-trash pr-2"></i>Delete</a>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a href="{{ path('profile.add') }}" class="btn btn-light"><i class="fas fa-plus pr-2"></i>Add</a>
        </div>
    </div>
{% endblock %}
