{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ category.name | title }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage.index') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ category.name | title }}</li>
        </ol>
    </nav>
    
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        {% for sub_category in sub_categories %}
            <div class="col py-2">
                <a href="{{ path('category.sub_category_index', {'categorySlug': category.slug, 'subCategorySlug': sub_category.slug}) }}" class="card">
                    <div class="card-body text-center h5 m-0">{{ sub_category.name | title }}</div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {% for sub_category in sub_categories %}
            {% for gif in sub_category.gifs %}
                <a href="{{ path('gif.index', {'gifSlug': gif.slug}) }}" class="col py-4 d-flex justify-content-center">
                    <div class="h-100 d-flex align-items-center">
                        <div class="w-100 d-flex justify-content-center">
                            <img src="{{ asset('img/'~gif.source) }}" alt="" class="img-fluid rounded" />
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
