{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ sub_category.name | title }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage.index') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('category.index', {'categorySlug': sub_category.parent.slug}) }}">{{ sub_category.parent.name | title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ sub_category.name | title }}</li>
        </ol>
    </nav>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {% for gif in sub_category.gifs %}
            <a href="{{ path('gif.index', {'gifSlug': gif.slug}) }}" class="col p-4 d-flex justify-content-center">
                <div class="h-100 d-flex align-items-center">
                    <div class="w-100 d-flex justify-content-center">
                        <img src="{{ asset('img/'~gif.source) }}" alt="" class="img-fluid rounded" />
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
