<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <a class="navbar-brand" href="{{ path('homepage.index') }}">GIPHY</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% set i = 0 %}
                    {% for category in get_categories() %}
                        {% set i = i + 1 %}
                        <a class="dropdown-item" href="{{ path('category.index', {'categorySlug': category.slug}) }}">{{ category.name | title }}</a>
                        {# {% for sub_category in get_sub_categories(category) %}
                            <a class="dropdown-item" href="{{ path('category.sub_category_index', {'categorySlug': category.slug, 'subCategorySlug': sub_category.slug}) }}"> - {{ sub_category.name | title }}</a>
                        {% endfor %} #}
                        {% if i < get_categories() | length  %}
                            <div class="dropdown-divider"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        </ul>
        <form class="container input-group px-0 px-sm-2 my-2 my-sm-0" action="{{ path('search.index') }}">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" required>
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <ul class="navbar-nav ml-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a href="{{ path('profile.index') }}" class="btn btn-info"><i class="fas fa-user pr-2 d-inline"></i>Profile</a>
                </li>
                <li class="nav-item ml-2">
                    <a href="{{ path('security.logout') }}" class="btn btn-danger text-nowrap"><i class="fas fa-sign-out-alt pr-2 d-inline"></i>Sign-Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('security.login') }}" class="btn btn-primary text-nowrap"><i class="fas fa-sign-in-alt pr-2 d-inline"></i>Sign-in</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
