{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Hello World</h1> 
    </div>

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        {% for category in get_categories() %}
            <div class="col py-2">
                <a href="{{ path('category.index', {'categorySlug': category.slug}) }}" class="card">
                    <div class="card-body text-center h5 m-0">{{ category.name | title }}</div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {% for gif in gifs %}
            <a href="{{ path('gif.index', {'gifSlug': gif.slug}) }}" class="col py-4">
                <div class="h-100 d-flex align-items-center">
                    <div class="w-100 d-flex justify-content-center">
                        <img src="{{ asset('img/'~gif.source) }}" alt="" class="img-fluid rounded" />
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
