{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ gif.slug | title }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage.index') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('category.index', {'categorySlug': gif.category.parent.slug}) }}">{{ gif.category.parent.name | title }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('category.sub_category_index', {'categorySlug': gif.category.parent.slug, 'subCategorySlug': gif.category.slug }) }}">{{ gif.category.name | title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ gif.slug | title }}</li>
        </ol>
    </nav>
    
    <div class="h-100 d-flex align-items-center">
        <div class="w-100 d-flex justify-content-center">
            <img src="{{ asset('img/'~gif.source) }}" alt="" class="img-fluid rounded" />
        </div>
    </div>
{% endblock %}
