{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage.index') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ search | title }}</li>
        </ol>
    </nav>

    {% if categories is empty %}
        <div class="h-100 d-flex align-items-center">
            <div class="w-100 d-flex justify-content-center">
                There nothing to see here :(
            </div>
        </div>
        {% else %}
            {% for category in categories %}
                <div class="card mb-3">
                    <a href="{{ path('category.index', {'categorySlug': category.slug}) }}" class="card-header h5">{{ category.name | title }}</a>

                    <div class="card-body py-0 text-center">
                        {% if category.gifs is empty %}
                            {% if category.parent is not empty %}
                                <div class="py-4">There nothing to see here :(</div>
                                {% else %}

                                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 pt-2">
                                        {% for sub_category in get_sub_categories(category) %}
                                            <div class="col py-2">
                                                <a href="{{ path('category.sub_category_index', {'categorySlug': category.slug,'subCategorySlug': sub_category.slug}) }}" class="card">
                                                    <div class="card-body text-center h5 m-0">{{ sub_category.name | title }}</div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 pb-2">
                                        {% for sub_category in get_sub_categories(category) %}
                                            {% for gif in sub_category.gifs %}
                                                <a href="{{ path('gif.index', {'gifSlug': gif.slug}) }}" class="col py-4 d-flex justify-content-center">
                                                    <div class="h-100 d-flex align-items-center">
                                                        <div class="w-100 d-flex justify-content-center">
                                                            <img src="{{ asset('img/'~gif.source) }}" alt="" class="img-fluid rounded" />
                                                        </div>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>

                            {% endif %}
                            {% else %}
                                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                                    {% for gif in category.gifs %}
                                        <a href="{{ path('gif.index', {'gifSlug': gif.slug}) }}" class="col py-4">
                                            <div class="h-100 d-flex align-items-center">
                                                <div class="w-100 d-flex justify-content-center">
                                                    <img src="{{ asset('img/'~gif.source) }}" alt="" class="img-fluid rounded" />
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
    {% endif %}
    
{% endblock %}
